<mat-card class="card">
    <mat-card-title style="text-align: center;margin: 10px;">User Details</mat-card-title>
    <mat-card-content>
        <button mat-icon-button><mat-icon>create</mat-icon></button>
        <p><label class="mat-h3">User Name</label>
            <span class="mat-h4" style="margin-left: 5px; font-weight:bold;">{{name}}</span></p>
            <p><label class="mat-h3">User Email</label>
                <span class="mat-h4" style="margin-left: 10px; font-weight:bold;">{{email}}</span></p>
        

    </mat-card-content>
</mat-card>
